body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
}
.header-inner{
    height: 50px;
    width: auto;
}
.header-logo {
    color: #f7d22e;
    text-decoration: none;
    font-style: italic;
    margin: 5px;
    font-size: 25px;
}