.detail {
    background-color: #f8f8f8;
    height: 700px;
    width: auto;
    padding-top: 60px;
}

.product-list {
    display: flex;
    margin-left: 230px;
}
.product-list--blue{
    text-decoration: none;
    padding-top: 15px;
    padding-right: 5px;
}
.product-list--text{
    padding-right: 5px;
}

.product-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-img{
    width: 400px;
    height: 300px;
}

.detail-text{
    padding: 0px 30px;
}
.list-title{
    margin-bottom: 5px;
}
.list-input{
    padding:5px 150px 5px 0;
    margin-bottom: 20px;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.reset-botton{
    margin-right: 10px;
}
.confirm-button{
    margin-left: 10px;
}